@using Backend_Project.Views.ViewModels;

@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<title>Riode - Ultimate eCommerce Template</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Riode - Ultimate eCommerce Template">
	<meta name="author" content="D-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="~/assets/images/icons/favicon.png">

	<script>
		WebFontConfig = {
			google: { families: [ 'Poppins:400,500,600,700' ] }
		};
		( function ( d ) {
			var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
			wf.src = 'js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore( wf, s );
		} )( document );
	</script>


	<link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.min.css">

	<!-- Plugins CSS File -->
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Main CSS File -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.min.css">
</head>
<body>
<div class="tab-pane" id="account">
	<form method="post" class="form">
		   <div class="row"> 
			<div class="col-sm-12">
				<label>Fullname</label>
					<input asp-for="Fullname" class="form-control" name="Fullname" required="" placeholder="Fullname">
					<span asp-validation-for="Fullname" class="text-danger"></span>
			</div>
			<div class="col-sm-12">
					<label>Username</label>
					<input asp-for="Username" class="form-control" name="Username" required="" placeholder="Username">
					<span asp-validation-for="Username" class="text-danger"></span>
			</div>
		      </div>
			<div class="col-md-12">
			<label>Email</label>
			<input asp-for="Email" class="form-control mb-0" name="Email" required="" placeholder="Email">
			<span asp-validation-for="Email" class="text-danger"></span>
		<small class="d-block form-text mb-7">
			This will be how your name will be displayed
			in the account section and in reviews
		</small>
			</div>
		<div class="col-md-12">
			<label>PasswordConfirm</label>
			<input asp-for="PasswordConfirm" Address" class="form-control" name="email" required="" placeholder="PasswordConfirm">
			<span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
			<div asp-validation-summary="ModelOnly" class="text-danger">ModelOnly</div>
		<div>
		<fieldset>
	<div class="col-md-12">
			<legend>Password Change</legend>
			<label>Current password (leave blank to leave unchanged)</label>
			@* <input asp-for="Current password" class="form-control" name="current_password" placeholder="Current password">
			<span asp-validation-for="Current password" class="text-danger"></span>
			<label>New password (leave blank to leave unchanged)</label>
			<input asp-for="New password" class="form-control" name="new_password" placeholder="New password">
			<span asp-validation-for="New password" class="text-danger"></span>
			<label>Confirm new password</label>
			<input asp-for="Confirm new password" class="form-control" name="confirm_password" placeholder="Confirm new password">
			<span asp-validation-for="Confirm new password" class="text-danger"></span> *@
		</fieldset>
	</div>
		<button type="submit" class="btn btn-primary">SAVE CHANGES</button>
	</form>
</div>

	<!-- Plugins JS File -->
	<script src="~/assets/vendor/jquery/jquery.min.js"></script>
	<script src="~/assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
	<script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<!-- Main JS File -->
	<script src="~/assets/js/main.min.js"></script>
</body>

</html>

